:root {
	--theme-color: #e9e9e9;
}
img{
	max-width: 100%;
	display: block;
}
html {
	font-family: 'Century Gothic';
	font-size: 14px;
}


html,
body,
#root {
  height: 100%;
}


body {
	font-family: 'Century Gothic';
	font-weight: 400;
	font-size: 14px;
	color: var(--dark-gray);
	background-color: var(--theme-color);
}




a {
	-webkit-transition: .5s;
	transition: .5s;
	color: var(--dark-color);
	text-decoration: none
}

a:hover,
a:focus {
	text-decoration: none;
	color: #49BE00;
	outline: 0
}

button:focus,
input:focus {
	outline: 0
}

p {
	color: #646464;
	line-height: 1.6;
	margin-bottom: 12px;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	text-transform: capitalize
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../font/CenturyGothic-Bold.woff') format('woff2'),
		url('../font/CenturyGothic-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../font/CenturyGothic.woff2') format('woff2'),
		url('../font/CenturyGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
.apexcharts-menu-icon {
    display: none;
}
.apexcharts-legend-marker{
	border-radius: 0px!important;
}

.sidebar.open {
    left: -100%;
    transition: .5s;
}

.right_panel.openMain {
    width: 100%;
    margin-left: 0px;
    transition: .5s;
}